* {
	margin: 0;
	padding: 0;
	-webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; 
}

@font-face {
	font-family: fonts;
	src: url('fonts/12992.ttf');
}

@font-face {
	font-family: time;
	src: url('fonts/13054.otf');
}

body {
	background: url('img/1415373436_imagesbase.ru-706.jpg');
	-webkit-background-size: cover;
	background-size: cover;
}

.window-game {
	width: 100%;
	height: 100vh;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	-ms-align-items: center;
	align-items: center;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
}

#cnv {
	border: 5px solid #ccc;
	width: 600px;
	height: 600px;
	filter: blur(0px);
}

.raiting-block {
	width: 300px;
	height: 600px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	-ms-align-items: flex-end;
	align-items: flex-end;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
}

.raiting-block img{
	max-width: 280px;
}

.info {
	color: #fff;
	font-size: 25px;
	line-height: 40px;
	font-family: fonts;
}

.info-time time{
	font-family: time;
	font-size: 35px;
}

.coin {
	width: 30px;
	animation: coin 1s infinite;
}

@keyframes coin{
	0% {
		transform: scale(1);
	}
	50% {
		transform: scale(0.5, 1);
	}
	100% {
		transform: scale(1);
	}
}

.info-money{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	justify-content: space-between;
}
.money-height {
	width: 120px;
	height: 20px;
	border: 1px solid #fff;
	position: relative;
	border-radius: 10px;
}

.money-height-count{
	position: absolute;
	background: red;
	width: 80%;
	border-radius: 10px;
	height: 20px;
}

 embed {
	opacity: 0;
	position: absolute;
} 
 
button {
	cursor: pointer;
	color: #fff;
	padding: 10px;
	background: none;
	border: none;
	font-size: 25px;
}

.pause {
	position: absolute;
	display: none;
	width: 100%;
	height: 100vh;
	z-index: 100;	
}

.pause h1 {
	font-size: 170px;
	color: #fff;
	text-align: center;
	line-height: 80vh;
}